@layer normalize, block, element, mod, adaptive;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	background-color: var(--color-white);
}

:root	{
	--color-white: #ffffff;
	--color-black: #000000;
	--color-gray: rgba(0, 0, 0, 0.7);
	--color-grayer: rgba(255, 255, 255, 0.7);	
	--color-primary: #0d6efd;
	--color-light: #ced4da;
	--color-background: #efeff4;
	--color-background-dark: #212529;

	--color-blue-light: #008be1;
	--color-blue-dark: #0068bc;

	--color-yellow-light: #fff8e3;
	--color-yellow-dark: #ffbf35;

	--color-purple-light: #5839ad;
	--color-purple-dark: #402b9c;

	--color-success: #008d1b;
	--color-warning: #f51b2a;

	--spacing-1: 8px;
	--spacing-2: 12px;
	--spacing-3: 16px;
	--spacing-4: 20px;
	--spacing-5: 24px;
	--spacing-6: 28px;
	--spacing-7: 32px;
	--spacing-8: 36px;
	--spacing-9: 40px;

	--size-1: 14px;
	--size-2: 16px;
	--size-3: 20px;
	--size-4: 24px;
	--size-5: 28px;
	--size-6: 32px;

	--radius-1: 4px;

	--opacity-1: 0.7;
	--opacity-2: 0.3;
	--transition-1: 0.7s;

	--line-height: 1.5;

	scroll-behavior: smooth;
}

/* Block, Element, Modifier */
@layer block {
	.page {
		background-color: var(--color-background);
		width: 100%;
		min-height: 100vh;
	}

	.main {
		padding: var(--spacing-9);
		display: grid;
		gap: var(--spacing-9);
	}

	.main-double {		
		display: grid;
		grid-template-columns: 1fr 450px;
		gap: var(--spacing-5);
		align-content: flex-start;
	}

	.vertical {
		display: grid;
		gap: var(--spacing-5);
	}

	.aside {
		padding: var(--spacing-5);
		background-color: var(--color-background-dark);
		
		align-content: flex-start;
	}

	.icon {
		display: block;
		background-repeat: no-repeat;
		background-attachment: center center;
	}

	.nav-button {
		display: flex;
		align-items: center;
		gap: var(--spacing-1);
		text-decoration: none;
		padding: var(--spacing-2);
		border-radius: var(--radius-1);
	}

	.checkout-button {
		display: flex;
		flex-direction: row;
		
		justify-content: center;
		background-color: var(--color-primary);
		text-decoration: none;
		padding: var(--spacing-2);
		border-radius: var(--radius-1);
	}

	.text {
		font-family: 'Roboto', sans-serif;
		color: var(--color-black);
		font-size: var(--size-2);
	}

	.click {
		transition: var(--transition-1);
		cursor: pointer;
	}

	.click:hover {
		opacity: var(--opacity-1);
	}

	.click:active {
		opacity: var(--opacity-2);
	}

	.header {
		background-color: var(--color-white);
		padding: var(--spacing-2);
	}

	.layout {
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;

	}

	.field {
		min-height: 36px;
		border: 1px solid var(--color-light);
		padding: 0 var(--spacing-2);
		border-radius: var(--radius-1);
	}

	

	.box {
		background-color: var(--color-white);
		padding: var(--spacing-5);
		border-radius: 16px;		
	}

	.analytic {
		border-radius: 8px;
		padding: var(--spacing-5);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;	
		align-items: flex-start;
	}

	.relative {
		position: relative;
	}
	
}

@layer element {
	.page__aside {
		grid-row: 1 / 3;
	}

	.aside__logo {
		color: var(--color-white);
		font-size: var(--size-4);
		padding-bottom: var(--spacing-4);
		border-bottom: solid 1px rgba(255, 255, 255, 0.25);
	}

	.nav-button__icon {
		height: 16px;
		width: 16px;
	}

	.header__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	
	.header__search {
		width: 100%;
		max-width: 30%;
		min-width: 180px;
		background-color: #f8fafc;
	}

	.header__icon-search {
		height: 20px;
		width: 20px;
		position: absolute;
		top: calc(50% - (20px) / 2);
		left: var(--spacing-2);		
	}

	.icon--header-settings {
		height: 28px;
		width: 28px;
		position: absolute;
		top: calc(50% - (28px) / 2);
		right: var(--spacing-2);
	}

	.header--icon-settings {
		height: 24px;
		width: 24px;
	}

	.field__block {
		display: grid;
		gap: var(--spacing-2);
		align-content: flex-start;
		
		
	}


	.field__select {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}

	.analytic__block {
		display: grid;
		gap: var(--spacing-5);
		grid-template-columns: repeat(3, 1fr);		
		grid-template-rows: 1fr 1fr;
	}

	.analytic__button {
		height: 44px;
		width: 44px;
	}

	.analytic__title {
		font-size: var(--size-6);
		color: var(--color-gray);
	}

	.analytic__arrow {
		height: 20px;
		width: 20px;
		position: absolute;
		top: 0;
		left: calc(100% + var(--spacing-1));
	}

	.purchaise__title {
		font-size: var(--size-4);
		color: var(--color-black);
	}

	.divider {
		height: 1px;
		width: 100%;
		color: var(--color-light);
		padding: var(--spacing-5) 0;
	}

	

		
}

@layer mod {
	.page--dashboard {
		display: grid;
		grid-template-columns: 280px 1fr;
		grid-template-rows: min-content 1fr;	
	}

	.text--light {
		color: var(--color-white);
	}

	.text--heading	{
		font-size: var(--size-4);
		color: var(--color-background-dark);
		font-weight: 500;
	}

	.text--small	{
		font-size: var(--size-1);
	}

	
	.text--gray {
		color: var(--color-gray);
	}

	.text--lighter {
		color: var(--color-grayer);
	}

	.text--line {
		line-height: var(--line-height);
	}

	.text--bold {
		font-weight: 500;
	}

	.vertical--small {
		gap: var(--spacing-2);
	}

	/* .vertical--big {
		gap: var(--spacing-5);
	} */

	.nav-button--active {
		background: var(--color-primary);
	}

	.header__icon {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: var(--spacing-2);
	}

	.field--header {
		padding-left: 44px;
		padding-right: 44px;
		width: 100%;
		height: 52px;
	}

	.field--header::placeholder {
		color: #bdbdbd;
	}

	.icon--button {
		border-radius: var(--radius-1);
		
	}

	.icon--color-blue {
		background-color: var(--color-blue-dark);		
	}

	.icon--color-purple {
		background-color: var(--color-purple-dark);
	}

	.icon--color-beige {
		background-color: rgba(255, 248, 227, 1);		
	}

	.icon--color-skyblue {
		background: rgba(225, 243, 252, 1);
		height: 32px;
		width: 32px;
	}

	.field--select {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;	
		align-content: flex-start;
	}

	.analytic--double {
		grid-row: 1 / 3;
	}

	.analytic--half {
		border-radius: 8px;
		padding: var(--spacing-5);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;	
		align-items: flex-start;
	}

	.analytic--blue {
		background-color: var(--color-blue-light);
	}

	.analytic--purple {
		background-color: var(--color-purple-light);
	}

	.analytic--light {
		background-color: var(--color-white);
		border: solid 1px #E0E4E8;
	}

	.purchaise--list {
		display: grid;				
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;
		align-content: flex-start;
	}

	.span--warning {
		color: var(--color-warning);
	}

	.span--success {
		color: var(--color-success);
	}

	.payment--form {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		gap: var(--spacing-2);	
		align-content: flex-start;	
	}

	.card--details {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		padding-top: var(--spacing-4);
		align-content: flex-start;
	}


}

@layer adaptive {
	@media all and (width <= 1000px) {
		.page--dashboard {
			grid-template-columns: 1fr;
			/* grid-template-rows: min-content 1fr;	 */
		}

		@media all and (width <= 1000px) {
			.main-double {
				grid-template-columns: 1fr;
				/* grid-template-rows: min-content 1fr;	 */
			}
		}

		.aside {
			display: none;
		}

		.header {
			display: none;
		}
	}
}